body{
  padding-top: 5em;
}

.footer{
  margin-top: 30px;
}

.c-cta{
  margin: 2em 0;
}

#testimonials {
  position: relative;
}

#testimonials .carousel-indicators{
  top: -30px;
}

#testimonials .carousel-indicators li{
  background-color: #ccc;
}

#testimonials .carousel-indicators li.active{
  background-color: black;
}

#testimonials .carousel-inner .item{
  margin-left: 40px;
}

.blog-entry{
  margin-bottom: 50px;
  border-bottom: 4px double #ededed;
  padding-bottom: 20px;
}

.blog-entry .content{
  font-size: 16px;
}

.blog-entry .blog-footer{
  margin-top: 24px;
}

#aside {
  border-left: #ededed 4px solid;
  padding-left: 35px;
}

#id_content{
  width: 500px;
}